<form action="/auth/browserid" method="post" style="display:none;">
	<input type="text" name="assertion"/>
</form>

<img src="https://mdn.mozillademos.org/files/3967/plain_sign_in_black.png" id="browserid"/>
<script>
  $("#browserid").click(function(){
    navigator.id.get(function(assertion) {
      if (assertion) {
        $("input").val(assertion);
        $("form").submit();
      } else {
        location.reload();
      }
    });
  });
</script>
